body {
  background-color: #00aaff;
  height: 120vh;
}

.sub-head {
  color: white;
  font-size: 25px;
  font-family: Arial;
}

#images-box {
  /* The total width of the image-box, mainly for centering */
  width: 1200px;
  margin: 0px auto;
  position: relative;
  top: 70px;
}

.image-lightbox img {
  /* Inherit the width and height from the parent element */
  width: inherit;
  height: inherit;
}

.holder {
  /* The width and height, you can change these */
  width: 250px;
  height: 166px;
  /* Float left, so everything aligns right */
  float: left;
  margin: 0 20px 0 0;
}

.image-lightbox {
  /* Inherit width and height from the .holder */
  width: inherit;
  height: inherit;
  padding: 10px;
  /* Box shadow */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background: #fff;
  border-radius: 5px;
  /* Position absolutely so we can zoom it out later */
  position: absolute;
  top: 0;
  font-family: Arial, sans-serif;
  /* Transitions to provide some eye candy */
  -webkit-transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -ms-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
}

.image-lightbox span {
  display: none;
}

.image-lightbox .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #00aaff;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-lightbox:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.image-lightbox .expand {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.image-lightbox .close {
  position: absolute;
  width: 20px; height: 20px;
  right: 20px; top: 20px;
}

.image-lightbox .close a {
  height: auto; width: auto;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background: #22272c;
  box-shadow: inset 0px 24px 20px -15px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 30px rgba(255,255,255,0.4);
  border-radius: 5px;
  font-weight: bold;
  float: right;
}

.close a:hover {
  box-shadow: inset 0px -24px 20px -15px rgba(255, 255, 255, 0.01), inset 0px 0px 10px rgba(0,0,0,0.4), 0px 0px 20px rgba(255,255,255,0.4);
}

div[id^=image]:target {
  width: auto;
  height: 600px;
  z-index: 5000;
  top: 50px;
  left: 100px;
}
div[id^=image]:target .close {
  display: block;
}

div[id^=image]:target .expand {
  display: none;
}

div#image-1:target, div#image-2:target, div#image-3:target, div#image-4:target { left: 200px; }

div#image-1 { left: 0; }
div#image-2 { left: 300px; }
div#image-3 { left: 600px; }
div#image-4 { left: 900px; }

div#image-5 { left: 0; top: 200px; }
div#image-6 { left: 300px; top: 200px; }
div#image-7 { left: 600px; top: 200px; }
div#image-8 { left: 900px; top: 200px; }

div#image-9 { left: 0; top: 400px; }
div#image-10 { left: 300px; top: 400px; }
div#image-11 { left: 600px; top: 400px; }
div#image-12 { left: 900px; top: 400px; }

div#image-13 { left: 0; top: 600px; }
div#image-14 { left: 300px; top: 600px; }
div#image-15 { left: 600px; top: 600px; }
div#image-16 { left: 900px; top: 600px; }

div#image-17 { left: 0; top: 800px; }
div#image-18 { left: 300px; top: 800px; }
div#image-19 { left: 600px; top: 800px; }
div#image-20 { left: 900px; top: 800px; }

div#image-21 { left: 0; top: 1000px; }
div#image-22 { left: 300px; top: 1000px; }
div#image-23 { left: 600px; top: 1000px; }
div#image-24 { left: 900px; top: 1000px; }

div#image-25 { left: 0; top: 1200px; }
div#image-26 { left: 300px; top: 1200px; }
div#image-27 { left: 600px; top: 1200px; }
div#image-28 { left: 900px; top: 1200px; }

div#image-29 { left: 0; top: 1400px; }
div#image-30 { left: 300px; top: 1400px; }
div#image-31 { left: 600px; top: 1400px; }
div#image-32 { left: 900px; top: 1400px; }

div#image-33 { left: 0; top: 1600px; }
div#image-34 { left: 300px; top: 1600px; }
div#image-35 { left: 600px; top: 1600px; }
div#image-36 { left: 900px; top: 1600px; }

div#image-37 { left: 0; top: 1800px; }
div#image-38 { left: 300px; top: 1800px; }
div#image-39 { left: 600px; top: 1800px; }
div#image-40 { left: 900px; top: 1800px; }

div#image-41 { left: 0; top: 2000px; }
div#image-42 { left: 300px; top: 2000px; }
div#image-43 { left: 600px; top: 2000px; }
div#image-44 { left: 900px; top: 2000px; }

div#image-45 { left: 0; top: 2200px; }
div#image-46 { left: 300px; top: 2200px; }
div#image-47 { left: 600px; top: 2200px; }
div#image-48 { left: 900px; top: 2200px; }

div#image-49 { left: 0; top: 2400px; }
div#image-50 { left: 300px; top: 2400px; }
div#image-51 { left: 600px; top: 2400px; }
div#image-52 { left: 900px; top: 2400px; }

div#image-53 { left: 0; top: 2600px; }
div#image-54 { left: 300px; top: 2600px; }
div#image-55 { left: 600px; top: 2600px; }
div#image-56 { left: 900px; top: 2600px; }

div#image-57 { left: 0; top: 2800px; }
div#image-58 { left: 300px; top: 2800px; }
div#image-59 { left: 600px; top: 2800px; }
div#image-60 { left: 900px; top: 2800px; }

div#image-61 { left: 0; top: 3000px; }
div#image-62 { left: 300px; top: 3000px; }
div#image-63 { left: 600px; top: 3000px; }
div#image-64 { left: 900px; top: 3000px; }

div#image-65 { left: 0; top: 3200px; }
div#image-66 { left: 300px; top: 3200px; }
div#image-67 { left: 600px; top: 3200px; }
div#image-68 { left: 900px; top: 3200px; }

div#image-69 { left: 0; top: 3400px; }
div#image-70 { left: 300px; top: 3400px; }
div#image-71 { left: 600px; top: 3400px; }
div#image-72 { left: 900px; top: 3400px; }

div#image-73 { left: 0; top: 3600px; }
div#image-74 { left: 300px; top: 3600px; }
div#image-75 { left: 600px; top: 3600px; }
div#image-76 { left: 900px; top: 3600px; }